# 6.1 WH Data Merge

### This script contains the following:
#### 1. Importing Libraries and Data
#### 2. Combining Datasets
#### 3. Exporting Data

### 1. Importing Libraries and Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path

path = r'/Users/giadairene/Documents/CareerFoundry Data Analytics/Data Analytics Immersion/Achievement 6/World_Happiness_Analysis'

In [3]:
# Import data

df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2019_wrangled.csv'), index_col = 0)

df_2020 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2020_wrangled.csv'), index_col = 0)

df_2021 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2021_wrangled.csv'), index_col = 0)

df_2022 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2022_wrangled.csv'), index_col = 0)

df_2023 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'df_2023_wrangled.csv'), index_col = 0)

### 2. Combining Datasets

#### Join df_2019 with df_2020 on "Country" to add the "Region" column

In [4]:
# Merge df_2019 with the 'Region' column of df_2020 on 'Country' column
# This will add the 'Region' column from df_2020 to df_2019 without changing other columns

df_2019 = pd.merge(df_2019, df_2020[['Country', 'Region']], on='Country', how='left')

# Now df_2019 will have the 'Region' column from df_2020

In [5]:
# Check for missing values

df_2019.isnull().sum() # 9 missing values in 'Region'

Country                  0
Year                     0
Happiness_rank           0
Happiness_score          0
GDP_capita               0
Social_support           0
Life_expectancy          0
Freedom                  0
Generosity               0
Corruption_perception    0
Region                   9
dtype: int64

In [6]:
null_data_2019 = df_2019[df_2019.isnull().any(axis=1)]

null_data_2019

,Country,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception,Region
24,Taiwan,2019,25,6.446,1.368,1.430,0.914,0.351,0.242,0.097,NaN
28,Qatar,2019,29,6.374,1.684,1.313,0.871,0.555,0.220,0.167,NaN
38,Trinidad & Tobago,2019,39,6.192,1.231,1.477,0.713,0.489,0.185,0.016,NaN
63,Northern Cyprus,2019,64,5.718,1.263,1.252,1.042,0.417,0.191,0.162,NaN
75,Hong Kong,2019,76,5.430,1.438,1.277,1.122,0.440,0.258,0.287,NaN
83,North Macedonia,2019,84,5.274,0.983,1.294,0.838,0.345,0.185,0.034,NaN
94,Bhutan,2019,95,5.082,0.813,1.321,0.604,0.457,0.370,0.167,NaN
111,Somalia,2019,112,4.668,0.000,0.698,0.268,0.559,0.243,0.270,NaN
148,Syria,2019,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141,NaN

In [7]:
# Reorder dataset columns

df_2019 = df_2019[['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Social_support',
                   'Life_expectancy', 'Freedom', 'Generosity', 'Corruption_perception']]

In [8]:
# Check output

df_2019

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2019,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,2019,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,2019,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,2019,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,2019,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
151,Rwanda,Sub-Saharan Africa,2019,152,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,Tanzania,Sub-Saharan Africa,2019,153,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,Afghanistan,South Asia,2019,154,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,Central African Republic,Sub-Saharan Africa,2019,155,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,South Sudan,Sub-Saharan Africa,2019,156,2.853,0.306,0.575,0.295,0.010,0.202,0.091

#### Create a "Happiness_rank" column in df_2020 by ranking countries based on "Happiness_score".

In [9]:
# Create a new column 'Happiness_rank' that ranks the rows based on 'Happiness_score'

df_2020['Happiness_rank'] = df_2020['Happiness_score'].rank(method='min', ascending=False).astype(int)

In [10]:
# Check for missing values

df_2020.isnull().sum() # No missing values!

Country                  0
Region                   0
Year                     0
Happiness_score          0
GDP_capita               0
Social_support           0
Life_expectancy          0
Freedom                  0
Generosity               0
Corruption_perception    0
Happiness_rank           0
dtype: int64

In [11]:
# Reorder dataset columns

df_2020 = df_2020[['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Social_support',
                   'Life_expectancy', 'Freedom', 'Generosity', 'Corruption_perception']]

In [12]:
# Check output

df_2020

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857
1,Denmark,Western Europe,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260
2,Switzerland,Western Europe,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946
3,Iceland,Western Europe,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541
4,Norway,Western Europe,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101
...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,2020,149,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265
149,Rwanda,Sub-Saharan Africa,2020,150,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542
150,Zimbabwe,Sub-Saharan Africa,2020,151,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929
151,South Sudan,Sub-Saharan Africa,2020,152,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157
152,Afghanistan,South Asia,2020,153,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226

#### Create a "Happiness_rank" column in df_2021 by ranking countries based on "Happiness_score".

In [13]:
df_2021['Happiness_rank'] = df_2021['Happiness_score'].rank(method='min', ascending=False).astype(int)

In [14]:
# Check for missing values

df_2021.isnull().sum() # No missing values!

Country                  0
Region                   0
Year                     0
Happiness_score          0
GDP_capita               0
Social_support           0
Life_expectancy          0
Freedom                  0
Generosity               0
Corruption_perception    0
Happiness_rank           0
dtype: int64

In [15]:
# Reorder dataset columns

df_2021 = df_2021[['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Social_support',
                   'Life_expectancy', 'Freedom', 'Generosity', 'Corruption_perception']]

In [16]:
# Check output

df_2021

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2021,1,7.842,1.446,1.106,0.741,0.691,0.124,0.481
1,Denmark,Western Europe,2021,2,7.620,1.502,1.108,0.763,0.686,0.208,0.485
2,Switzerland,Western Europe,2021,3,7.571,1.566,1.079,0.816,0.653,0.204,0.413
3,Iceland,Western Europe,2021,4,7.554,1.482,1.172,0.772,0.698,0.293,0.170
4,Netherlands,Western Europe,2021,5,7.464,1.501,1.079,0.753,0.647,0.302,0.384
...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,2021,145,3.512,0.451,0.731,0.007,0.405,0.103,0.015
145,Botswana,Sub-Saharan Africa,2021,146,3.467,1.099,0.724,0.340,0.539,0.027,0.088
146,Rwanda,Sub-Saharan Africa,2021,147,3.415,0.364,0.202,0.407,0.627,0.227,0.493
147,Zimbabwe,Sub-Saharan Africa,2021,148,3.145,0.457,0.649,0.243,0.359,0.157,0.075
148,Afghanistan,South Asia,2021,149,2.523,0.370,0.000,0.126,0.000,0.122,0.010

#### Join df_2020 with df_2022 on "Country" to add the "Region" column.

In [17]:
# Merge df_2022 with the 'Region' column of df_2020 on 'Country' column
# This will add the 'Region' column from df_2020 to df_2022 without changing other columns

df_2022 = pd.merge(df_2022, df_2020[['Country', 'Region']], on='Country', how='left')

In [18]:
# Check for missing values

df_2022.isnull().sum() # 24 missing values in 'Region'

Country                   0
Year                      0
Happiness_rank            0
Happiness_score           0
GDP_capita                0
Social_support            0
Life_expectancy           0
Freedom                   0
Generosity                0
Corruption_perception     0
Region                   24
dtype: int64

In [19]:
null_data_2022 = df_2022[df_2022.isnull().any(axis=1)]

null_data_2022

,Country,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception,Region
5,Luxembourg*,2022,6,7.404,2.209,1.155,0.790,0.700,0.120,0.388,NaN
17,Czechia,2022,18,6.920,1.815,1.260,0.715,0.660,0.158,0.048,NaN
38,Guatemala*,2022,39,6.262,1.274,0.831,0.522,0.662,0.112,0.115,NaN
49,Kuwait*,2022,50,6.106,1.904,0.983,0.747,0.617,0.087,0.147,NaN
64,Belarus*,2022,65,5.821,1.562,1.157,0.629,0.342,0.040,0.282,NaN
77,Turkmenistan*,2022,78,5.474,1.484,1.319,0.516,0.649,0.314,0.032,NaN
78,North Cyprus*,2022,79,5.467,1.815,0.888,0.819,0.523,0.130,0.213,NaN
85,Libya*,2022,86,5.330,1.476,0.943,0.606,0.477,0.106,0.179,NaN
88,North Macedonia,2022,89,5.199,1.505,0.863,0.637,0.488,0.215,0.031,NaN
91,Azerbaijan*,2022,92,5.173,1.458,1.093,0.560,0.601,0.023,0.341,NaN
92,Gambia*,2022,93,5.164,0.785,0.621,0.369,0.367,0.388,0.103,NaN
96,Liberia*,2022,97,5.122,0.636,0.670,0.309,0.405,0.178,0.080,NaN
98,Congo,2022,99,5.075,0.950,0.405,0.355,0.431,0.130,0.146,NaN
103,Niger*,2022,104,5.003,0.570,0.560,0.326,0.571,0.165,0.145,NaN
115,Comoros*,2022,116,4.609,0.899,0.476,0.424,0.185,0.195,0.125,NaN
121,Palestinian Territories*,2022,122,4.483,1.148,0.957,0.521,0.336,0.073,0.079,NaN
124,"Eswatini, Kingdom of*",2022,125,4.396,1.274,0.786,0.197,0.259,0.038,0.154,NaN
127,Madagascar*,2022,128,4.339,0.670,0.645,0.378,0.202,0.143,0.154,NaN
129,Chad*,2022,130,4.251,0.662,0.506,0.225,0.180,0.182,0.077,NaN
131,Yemen*,2022,132,4.197,0.691,1.043,0.384,0.330,0.090,0.098,NaN
132,Mauritania*,2022,133,4.153,1.100,0.865,0.450,0.304,0.088,0.138,NaN
140,Lesotho*,2022,141,3.512,0.839,0.848,0.000,0.419,0.076,0.018,NaN
141,Botswana*,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102,NaN
142,Rwanda*,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544,NaN

In [20]:
# Reorder dataset columns

df_2022 = df_2022[['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Social_support',
                   'Life_expectancy', 'Freedom', 'Generosity', 'Corruption_perception']]

In [21]:
# Check output

df_2022

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2022,1,7.821,1.892,1.258,0.775,0.736,0.109,0.534
1,Denmark,Western Europe,2022,2,7.636,1.953,1.243,0.777,0.719,0.188,0.532
2,Iceland,Western Europe,2022,3,7.557,1.936,1.320,0.803,0.718,0.270,0.191
3,Switzerland,Western Europe,2022,4,7.512,2.026,1.226,0.822,0.677,0.147,0.461
4,Netherlands,Western Europe,2022,5,7.415,1.945,1.206,0.787,0.651,0.271,0.419
...,...,...,...,...,...,...,...,...,...,...,...
141,Botswana*,NaN,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda*,NaN,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
143,Zimbabwe,Sub-Saharan Africa,2022,144,2.995,0.947,0.690,0.270,0.329,0.106,0.105
144,Lebanon,Middle East and North Africa,2022,145,2.955,1.392,0.498,0.631,0.103,0.082,0.034
145,Afghanistan,South Asia,2022,146,2.404,0.758,0.000,0.289,0.000,0.089,0.005

#### Join df_2023 with df_2020 on "Country" to add the "Region" column.

In [22]:
# Merge df_2023 with the 'Region' column of df_2020 on 'Country' column

df_2023 = pd.merge(df_2023, df_2020[['Country', 'Region']], on='Country', how='left')

In [23]:
# Check for missing values

df_2023.isnull().sum() # 4 missing values in 'Region'

Country                  0
Year                     0
Happiness_score          0
GDP_capita               0
Social_support           0
Life_expectancy          1
Freedom                  0
Generosity               0
Corruption_perception    0
Region                   4
dtype: int64

In [24]:
null_data_2023 = df_2023[df_2023.isnull().any(axis=1)]

null_data_2023

,Country,Year,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception,Region
17,Czechia,2023,6.845,1.823,1.544,0.477,0.693,0.158,0.050,NaN
86,North Macedonia,2023,5.254,1.498,1.171,0.408,0.515,0.207,0.020,NaN
98,State of Palestine,2023,4.908,1.144,1.309,NaN,0.416,0.065,0.067,NaN
105,Turkiye,2023,4.614,1.714,1.148,0.467,0.125,0.095,0.096,NaN

#### Create a "Happiness_rank" column in df_2023 by ranking countries based on "Happiness_score".

In [25]:
# Create a new column 'Happiness_rank' that ranks the rows based on 'Happiness_score'

df_2023['Happiness_rank'] = df_2023['Happiness_score'].rank(method='min', ascending=False).astype(int)

In [26]:
# Reorder dataset columns

df_2023 = df_2023[['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Social_support',
                   'Life_expectancy', 'Freedom', 'Generosity', 'Corruption_perception']]

In [27]:
# Check output

df_2023

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2023,1,7.804,1.888,1.585,0.535,0.772,0.126,0.535
1,Denmark,Western Europe,2023,2,7.586,1.949,1.548,0.537,0.734,0.208,0.525
2,Iceland,Western Europe,2023,3,7.530,1.926,1.620,0.559,0.738,0.250,0.187
3,Israel,Middle East and North Africa,2023,4,7.473,1.833,1.521,0.577,0.569,0.124,0.158
4,Netherlands,Western Europe,2023,5,7.403,1.942,1.488,0.545,0.672,0.251,0.394
...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),Sub-Saharan Africa,2023,133,3.207,0.531,0.784,0.105,0.375,0.183,0.068
133,Zimbabwe,Sub-Saharan Africa,2023,134,3.204,0.758,0.881,0.069,0.363,0.112,0.117
134,Sierra Leone,Sub-Saharan Africa,2023,135,3.138,0.670,0.540,0.092,0.371,0.193,0.051
135,Lebanon,Middle East and North Africa,2023,136,2.392,1.417,0.476,0.398,0.123,0.061,0.027
136,Afghanistan,South Asia,2023,137,1.859,0.645,0.000,0.087,0.000,0.093,0.059

#### Combine all datasets together:

In [28]:
# Concatenate the dataframes along the rows

combined_df = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023])

In [29]:
# Check the output

combined_df

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2019,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,2019,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,2019,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,2019,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,2019,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),Sub-Saharan Africa,2023,133,3.207,0.531,0.784,0.105,0.375,0.183,0.068
133,Zimbabwe,Sub-Saharan Africa,2023,134,3.204,0.758,0.881,0.069,0.363,0.112,0.117
134,Sierra Leone,Sub-Saharan Africa,2023,135,3.138,0.670,0.540,0.092,0.371,0.193,0.051
135,Lebanon,Middle East and North Africa,2023,136,2.392,1.417,0.476,0.398,0.123,0.061,0.027
136,Afghanistan,South Asia,2023,137,1.859,0.645,0.000,0.087,0.000,0.093,0.059

In [30]:
# Check for missing values

combined_df.isnull().sum() # 37 (5% of data) missing values in 'Region'

Country                   0
Region                   37
Year                      0
Happiness_rank            0
Happiness_score           0
GDP_capita                0
Social_support            0
Life_expectancy           1
Freedom                   0
Generosity                0
Corruption_perception     0
dtype: int64

#### Replace missing values with the appropriate Region names:

In [31]:
# Create a subset of missing data

null_data_all_years = combined_df[combined_df.isnull().any(axis=1)]

null_data_all_years

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
24,Taiwan,NaN,2019,25,6.446,1.368,1.430,0.914,0.351,0.242,0.097
28,Qatar,NaN,2019,29,6.374,1.684,1.313,0.871,0.555,0.220,0.167
38,Trinidad & Tobago,NaN,2019,39,6.192,1.231,1.477,0.713,0.489,0.185,0.016
63,Northern Cyprus,NaN,2019,64,5.718,1.263,1.252,1.042,0.417,0.191,0.162
75,Hong Kong,NaN,2019,76,5.430,1.438,1.277,1.122,0.440,0.258,0.287
83,North Macedonia,NaN,2019,84,5.274,0.983,1.294,0.838,0.345,0.185,0.034
94,Bhutan,NaN,2019,95,5.082,0.813,1.321,0.604,0.457,0.370,0.167
111,Somalia,NaN,2019,112,4.668,0.000,0.698,0.268,0.559,0.243,0.270
148,Syria,NaN,2019,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141
5,Luxembourg*,NaN,2022,6,7.404,2.209,1.155,0.790,0.700,0.120,0.388
17,Czechia,NaN,2022,18,6.920,1.815,1.260,0.715,0.660,0.158,0.048
38,Guatemala*,NaN,2022,39,6.262,1.274,0.831,0.522,0.662,0.112,0.115
49,Kuwait*,NaN,2022,50,6.106,1.904,0.983,0.747,0.617,0.087,0.147
64,Belarus*,NaN,2022,65,5.821,1.562,1.157,0.629,0.342,0.040,0.282
77,Turkmenistan*,NaN,2022,78,5.474,1.484,1.319,0.516,0.649,0.314,0.032
78,North Cyprus*,NaN,2022,79,5.467,1.815,0.888,0.819,0.523,0.130,0.213
85,Libya*,NaN,2022,86,5.330,1.476,0.943,0.606,0.477,0.106,0.179
88,North Macedonia,NaN,2022,89,5.199,1.505,0.863,0.637,0.488,0.215,0.031
91,Azerbaijan*,NaN,2022,92,5.173,1.458,1.093,0.560,0.601,0.023,0.341
92,Gambia*,NaN,2022,93,5.164,0.785,0.621,0.369,0.367,0.388,0.103
96,Liberia*,NaN,2022,97,5.122,0.636,0.670,0.309,0.405,0.178,0.080
98,Congo,NaN,2022,99,5.075,0.950,0.405,0.355,0.431,0.130,0.146
103,Niger*,NaN,2022,104,5.003,0.570,0.560,0.326,0.571,0.165,0.145
115,Comoros*,NaN,2022,116,4.609,0.899,0.476,0.424,0.185,0.195,0.125
121,Palestinian Territories*,NaN,2022,122,4.483,1.148,0.957,0.521,0.336,0.073,0.079
124,"Eswatini, Kingdom of*",NaN,2022,125,4.396,1.274,0.786,0.197,0.259,0.038,0.154
127,Madagascar*,NaN,2022,128,4.339,0.670,0.645,0.378,0.202,0.143,0.154
129,Chad*,NaN,2022,130,4.251,0.662,0.506,0.225,0.180,0.182,0.077
131,Yemen*,NaN,2022,132,4.197,0.691,1.043,0.384,0.330,0.090,0.098
132,Mauritania*,NaN,2022,133,4.153,1.100,0.865,0.450,0.304,0.088,0.138
140,Lesotho*,NaN,2022,141,3.512,0.839,0.848,0.000,0.419,0.076,0.018
141,Botswana*,NaN,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda*,NaN,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
17,Czechia,NaN,2023,18,6.845,1.823,1.544,0.477,0.693,0.158,0.050
86,North Macedonia,NaN,2023,87,5.254,1.498,1.171,0.408,0.515,0.207,0.020
98,State of Palestine,NaN,2023,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067
105,Turkiye,NaN,2023,106,4.614,1.714,1.148,0.467,0.125,0.095,0.096

In [32]:
# Remove trailing asterisks from 'Country' column

combined_df.loc[:, 'Country'] = combined_df['Country'].str.rstrip('*')

In [33]:
# Dictionary of country name changes

country_name_changes = {
    'Turkiye': 'Turkey',
    'Eswatini, Kingdom of': 'Swaziland',
    'State of Palestine': 'Palestinian Territories',
    'Czechia': 'Czech Republic',
    'Northern Cyprus': 'North Cyprus'
}

In [34]:
# Replace country names

combined_df['Country'] = combined_df['Country'].replace(country_name_changes)

In [35]:
# Update missing data subset

null_data_all_years = combined_df[combined_df.isnull().any(axis=1)]

null_data_all_years

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
24,Taiwan,NaN,2019,25,6.446,1.368,1.430,0.914,0.351,0.242,0.097
28,Qatar,NaN,2019,29,6.374,1.684,1.313,0.871,0.555,0.220,0.167
38,Trinidad & Tobago,NaN,2019,39,6.192,1.231,1.477,0.713,0.489,0.185,0.016
63,North Cyprus,NaN,2019,64,5.718,1.263,1.252,1.042,0.417,0.191,0.162
75,Hong Kong,NaN,2019,76,5.430,1.438,1.277,1.122,0.440,0.258,0.287
83,North Macedonia,NaN,2019,84,5.274,0.983,1.294,0.838,0.345,0.185,0.034
94,Bhutan,NaN,2019,95,5.082,0.813,1.321,0.604,0.457,0.370,0.167
111,Somalia,NaN,2019,112,4.668,0.000,0.698,0.268,0.559,0.243,0.270
148,Syria,NaN,2019,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141
5,Luxembourg,NaN,2022,6,7.404,2.209,1.155,0.790,0.700,0.120,0.388
17,Czech Republic,NaN,2022,18,6.920,1.815,1.260,0.715,0.660,0.158,0.048
38,Guatemala,NaN,2022,39,6.262,1.274,0.831,0.522,0.662,0.112,0.115
49,Kuwait,NaN,2022,50,6.106,1.904,0.983,0.747,0.617,0.087,0.147
64,Belarus,NaN,2022,65,5.821,1.562,1.157,0.629,0.342,0.040,0.282
77,Turkmenistan,NaN,2022,78,5.474,1.484,1.319,0.516,0.649,0.314,0.032
78,North Cyprus,NaN,2022,79,5.467,1.815,0.888,0.819,0.523,0.130,0.213
85,Libya,NaN,2022,86,5.330,1.476,0.943,0.606,0.477,0.106,0.179
88,North Macedonia,NaN,2022,89,5.199,1.505,0.863,0.637,0.488,0.215,0.031
91,Azerbaijan,NaN,2022,92,5.173,1.458,1.093,0.560,0.601,0.023,0.341
92,Gambia,NaN,2022,93,5.164,0.785,0.621,0.369,0.367,0.388,0.103
96,Liberia,NaN,2022,97,5.122,0.636,0.670,0.309,0.405,0.178,0.080
98,Congo,NaN,2022,99,5.075,0.950,0.405,0.355,0.431,0.130,0.146
103,Niger,NaN,2022,104,5.003,0.570,0.560,0.326,0.571,0.165,0.145
115,Comoros,NaN,2022,116,4.609,0.899,0.476,0.424,0.185,0.195,0.125
121,Palestinian Territories,NaN,2022,122,4.483,1.148,0.957,0.521,0.336,0.073,0.079
124,Swaziland,NaN,2022,125,4.396,1.274,0.786,0.197,0.259,0.038,0.154
127,Madagascar,NaN,2022,128,4.339,0.670,0.645,0.378,0.202,0.143,0.154
129,Chad,NaN,2022,130,4.251,0.662,0.506,0.225,0.180,0.182,0.077
131,Yemen,NaN,2022,132,4.197,0.691,1.043,0.384,0.330,0.090,0.098
132,Mauritania,NaN,2022,133,4.153,1.100,0.865,0.450,0.304,0.088,0.138
140,Lesotho,NaN,2022,141,3.512,0.839,0.848,0.000,0.419,0.076,0.018
141,Botswana,NaN,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda,NaN,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
17,Czech Republic,NaN,2023,18,6.845,1.823,1.544,0.477,0.693,0.158,0.050
86,North Macedonia,NaN,2023,87,5.254,1.498,1.171,0.408,0.515,0.207,0.020
98,Palestinian Territories,NaN,2023,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067
105,Turkey,NaN,2023,106,4.614,1.714,1.148,0.467,0.125,0.095,0.096

In [36]:
# Country to region mapping

country_to_region = {
    'Taiwan': 'East Asia',
    'Hong Kong': 'East Asia',
    'Qatar': 'Middle East and North Africa',
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'North Cyprus': 'Middle East and North Africa',
    'Bhutan': 'South Asia',
    'Somalia': 'Sub-Saharan Africa',
    'Syria': 'Middle East and North Africa',
    'Luxembourg': 'Western Europe',
    'Czech Republic': 'Central and Eastern Europe',
    'North Macedonia': 'Central and Eastern Europe',
    'Guatemala': 'Latin America and Caribbean',
    'Kuwait': 'Middle East and North Africa',
    'Belarus': 'Central and Eastern Europe',
    'Turkmenistan': 'Commonwealth of Independent States',
    'Libya': 'Middle East and North Africa',
    'Azerbaijan': 'Commonwealth of Independent States',
    'Gambia': 'Sub-Saharan Africa',
    'Liberia': 'Sub-Saharan Africa',
    'Congo': 'Sub-Saharan Africa',
    'Niger': 'Sub-Saharan Africa',
    'Comoros': 'Sub-Saharan Africa',
    'Swaziland': 'Sub-Saharan Africa',
    'Madagascar': 'Sub-Saharan Africa',
    'Chad': 'Sub-Saharan Africa',
    'Yemen': 'Middle East and North Africa',
    'Mauritania': 'Sub-Saharan Africa',
    'Lesotho': 'Sub-Saharan Africa',
    'Botswana': 'Sub-Saharan Africa',
    'Rwanda': 'Sub-Saharan Africa',
    'Palestinian Territories': 'Middle East and North Africa',
    'Turkey': 'Middle East and North Africa'
}

In [37]:
# Replace NaN values in the 'Region' column

null_data_all_years.loc[:, 'Region'] = null_data_all_years['Country'].map(country_to_region)

null_data_all_years

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
24,Taiwan,East Asia,2019,25,6.446,1.368,1.430,0.914,0.351,0.242,0.097
28,Qatar,Middle East and North Africa,2019,29,6.374,1.684,1.313,0.871,0.555,0.220,0.167
38,Trinidad & Tobago,Latin America and Caribbean,2019,39,6.192,1.231,1.477,0.713,0.489,0.185,0.016
63,North Cyprus,Middle East and North Africa,2019,64,5.718,1.263,1.252,1.042,0.417,0.191,0.162
75,Hong Kong,East Asia,2019,76,5.430,1.438,1.277,1.122,0.440,0.258,0.287
83,North Macedonia,Central and Eastern Europe,2019,84,5.274,0.983,1.294,0.838,0.345,0.185,0.034
94,Bhutan,South Asia,2019,95,5.082,0.813,1.321,0.604,0.457,0.370,0.167
111,Somalia,Sub-Saharan Africa,2019,112,4.668,0.000,0.698,0.268,0.559,0.243,0.270
148,Syria,Middle East and North Africa,2019,149,3.462,0.619,0.378,0.440,0.013,0.331,0.141
5,Luxembourg,Western Europe,2022,6,7.404,2.209,1.155,0.790,0.700,0.120,0.388
17,Czech Republic,Central and Eastern Europe,2022,18,6.920,1.815,1.260,0.715,0.660,0.158,0.048
38,Guatemala,Latin America and Caribbean,2022,39,6.262,1.274,0.831,0.522,0.662,0.112,0.115
49,Kuwait,Middle East and North Africa,2022,50,6.106,1.904,0.983,0.747,0.617,0.087,0.147
64,Belarus,Central and Eastern Europe,2022,65,5.821,1.562,1.157,0.629,0.342,0.040,0.282
77,Turkmenistan,Commonwealth of Independent States,2022,78,5.474,1.484,1.319,0.516,0.649,0.314,0.032
78,North Cyprus,Middle East and North Africa,2022,79,5.467,1.815,0.888,0.819,0.523,0.130,0.213
85,Libya,Middle East and North Africa,2022,86,5.330,1.476,0.943,0.606,0.477,0.106,0.179
88,North Macedonia,Central and Eastern Europe,2022,89,5.199,1.505,0.863,0.637,0.488,0.215,0.031
91,Azerbaijan,Commonwealth of Independent States,2022,92,5.173,1.458,1.093,0.560,0.601,0.023,0.341
92,Gambia,Sub-Saharan Africa,2022,93,5.164,0.785,0.621,0.369,0.367,0.388,0.103
96,Liberia,Sub-Saharan Africa,2022,97,5.122,0.636,0.670,0.309,0.405,0.178,0.080
98,Congo,Sub-Saharan Africa,2022,99,5.075,0.950,0.405,0.355,0.431,0.130,0.146
103,Niger,Sub-Saharan Africa,2022,104,5.003,0.570,0.560,0.326,0.571,0.165,0.145
115,Comoros,Sub-Saharan Africa,2022,116,4.609,0.899,0.476,0.424,0.185,0.195,0.125
121,Palestinian Territories,Middle East and North Africa,2022,122,4.483,1.148,0.957,0.521,0.336,0.073,0.079
124,Swaziland,Sub-Saharan Africa,2022,125,4.396,1.274,0.786,0.197,0.259,0.038,0.154
127,Madagascar,Sub-Saharan Africa,2022,128,4.339,0.670,0.645,0.378,0.202,0.143,0.154
129,Chad,Sub-Saharan Africa,2022,130,4.251,0.662,0.506,0.225,0.180,0.182,0.077
131,Yemen,Middle East and North Africa,2022,132,4.197,0.691,1.043,0.384,0.330,0.090,0.098
132,Mauritania,Sub-Saharan Africa,2022,133,4.153,1.100,0.865,0.450,0.304,0.088,0.138
140,Lesotho,Sub-Saharan Africa,2022,141,3.512,0.839,0.848,0.000,0.419,0.076,0.018
141,Botswana,Sub-Saharan Africa,2022,142,3.471,1.503,0.815,0.280,0.571,0.012,0.102
142,Rwanda,Sub-Saharan Africa,2022,143,3.268,0.785,0.133,0.462,0.621,0.187,0.544
17,Czech Republic,Central and Eastern Europe,2023,18,6.845,1.823,1.544,0.477,0.693,0.158,0.050
86,North Macedonia,Central and Eastern Europe,2023,87,5.254,1.498,1.171,0.408,0.515,0.207,0.020
98,Palestinian Territories,Middle East and North Africa,2023,99,4.908,1.144,1.309,NaN,0.416,0.065,0.067
105,Turkey,Middle East and North Africa,2023,106,4.614,1.714,1.148,0.467,0.125,0.095,0.096

#### Join null_data_all_years with combined_df on "Country" to add the "Region" column:

In [45]:
# Perform a left merge to align the data

merged_df = pd.merge(combined_df, null_data_all_years, on=['Country', 'Year'], how='left', suffixes=('', '_filled'))

In [46]:
# Update the 'Region' column in combined_df with values from 'Region_filled' where it is NaN

merged_df['Region'] = merged_df['Region'].combine_first(merged_df['Region_filled'])

In [47]:
# Drop the auxiliary 'Region_filled' column

merged_df.drop(columns=['Region_filled', 'Happiness_rank_filled', 'Happiness_score_filled', 'GDP_capita_filled',
                        'Social_support_filled', 'Life_expectancy_filled', 'Freedom_filled', 'Generosity_filled',
                        'Corruption_perception_filled' ], inplace=True)

In [48]:
# Check the output

merged_df

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Social_support,Life_expectancy,Freedom,Generosity,Corruption_perception
0,Finland,Western Europe,2019,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,2019,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,2019,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,2019,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,2019,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...,...,...
736,Congo (Kinshasa),Sub-Saharan Africa,2023,133,3.207,0.531,0.784,0.105,0.375,0.183,0.068
737,Zimbabwe,Sub-Saharan Africa,2023,134,3.204,0.758,0.881,0.069,0.363,0.112,0.117
738,Sierra Leone,Sub-Saharan Africa,2023,135,3.138,0.670,0.540,0.092,0.371,0.193,0.051
739,Lebanon,Middle East and North Africa,2023,136,2.392,1.417,0.476,0.398,0.123,0.061,0.027
740,Afghanistan,South Asia,2023,137,1.859,0.645,0.000,0.087,0.000,0.093,0.059

In [49]:
# Check for missing values

merged_df.isnull().sum()

Country                  0
Region                   0
Year                     0
Happiness_rank           0
Happiness_score          0
GDP_capita               0
Social_support           0
Life_expectancy          1
Freedom                  0
Generosity               0
Corruption_perception    0
dtype: int64

### 3. Exporting Data

In [50]:
# Export the combined dataset

merged_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Happiness_combined_all_years.csv'))